*{	color:#FFFFFF;}
body{	background-color:#000000;	background-image:url(../images/Bl.jpg);	background-size: cover;}
li > a{	color:#FFFFFF;}
 .tile{	padding-left:1em;}
.tab-pane>h3{text-align:center;}
.tile:hover{padding-left:1em;	background-color:#3399FF;}
footer{	background-color: #1B1A1A;	margin-top:1%;}
.finalnav1,.finalnav2{	background-color: #1B1A1A;	}
	.row tile{		padding-left:2em;	}
.active{	background-color:#3399FF;}
.tab-pane{	padding:1em;	background-color:transparent;	font-size:medium;}
.tab-pane>h3{	font-family:Baskerville, "Palatino Linotype", "Palatino", "Century Schoolbook L", Times New Roman, serif;	font-weight:200;}
#quoteg{	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",Monaco, "Courier New", monospace;	font-style:italic;	font-size:large;}
.name{
	text-align: center;
	text-shadow: 1px 0px 4px #3399FF;
}
.quotes{
	border-radius:1em;
	border:1px solid #FFFFFF;
	margin-top:1em;
	height:10em;
	margin-bottom:1em;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
 	#quoteg{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",Monaco, "Courier New", monospace;
	font-style:italic;
	font-size:small;
}
 }